/* src/components/guild/QuestBoard/QuestCard/styles.css */
.quest-card {
  position: relative;
  width: 170px;
  height: 225px;
  cursor: pointer;
  background-image: url("../../../../assets/images/questboard/questPaper.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  pointer-events: auto !important; /* Ensure the card is clickable */
}

.quest-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transform: translateX(-20px);
  margin: 20px;
  box-sizing: border-box;
}

.quest-content * {
  pointer-events: none;
}

.quest-image-container {
  width: 100%;
  height: 70%;
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

.quest-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.quest-title {
  font-family: "MedievalSharp", cursive;
  color: var(--wood-primary-dark);
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

/* Github and live demo links */
.quest-links {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  gap: 8px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 4px;
  pointer-events: auto;
}

.quest-card:hover .quest-links {
  opacity: 1;
  transform: translateY(0);
}

.quest-link {
  color: var(--text-dark);
  transition: color 0.3s ease;
  pointer-events: auto;
}

.quest-link:hover {
  color: #ef4444; /* Red color for hover */
}

/* Selected state styles */
.quest-card.selected {
  box-shadow: 0 0 15px var(--accent);
  transform: scale(1.02);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .quest-card {
    height: 150px;
    width: 100px;
  }

  .quest-title {
    font-size: 1rem;
  }
}
